.Burger {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    min-height: calc(50vh - 75px);
    min-width: 408px;
    padding: 40px 0 20px 0;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;

    &::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: .6;
        z-index: -1;
        background: url("https://static.vecteezy.com/system/resources/previews/000/097/734/non_2x/school-lunch-background-vector.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.Paragraph {
    position: relative;
    text-shadow: 1px 1px #FFF;
    top: -25px;
    z-index: 1000;
}

@media (min-width: 650px){

    .MainDiv{
        flex-direction: row;
        margin: 20px auto auto auto;
        width: 100vw;
    }
}

@media (max-width: 650px){
    .Burger {
        margin: 0;
    }
}