.Checkout{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

@media(min-width: 600px) {
    .Checkout{
        flex-direction: row;
        margin-top: -45px;
    }
}